---
layout: page
permalink: /translate-app/
title: Translate App
subtitle:
exclude_from_nav: false
masthead-img: false
masthead-img-pat: false
author:
date:   2015-01-01 12:00:01
comments:
share:
---
<head>
	<link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
	<link data-require="font-awesome@4.5.0" data-semver="4.5.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" />
	<script data-require="angular.js@1.4.8" data-semver="1.4.8" href="https://code.angularjs.org/1.4.8/angular.js"></script>
	<script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.8.1/angular-translate.min.js"></script>
	<script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.8.1/angular-translate-loader-static-files.min.js"></script>
	<script type="text/javascript" src='js/app.js'></script>
	<script type="text/javascript" src='js/locale-controller.js'></script>
</head>
<html ng-app="TranslateApp">
	<body>
		<main class="container" ng-controller="LocaleController">
			<h1>{{ "HI" | translate:localeData}}</h1>
			<form class="form-horizontal well" ng-submit="return false;">
				<div class="form-group">
					<label class="control-label" for="name" translate="">YOUR_NAME</label>
					<div class="input-group">
						<div class="input-group-addon">
							<i class="fa fa-user" aria-hidden="true"></i>
						</div>
						<input class="form-control" type="text" name="name" ng-model="localeData.name" />
					</div>
				</div>
				<button class="btn btn-success" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> <span translate>SAVE</span></button>
			</form>
			<div class="row">
				<button class="btn btn-info" ng-click="changeLanguage('en');">English</button>
				<button class="btn btn-info" ng-click="changeLanguage('es');">Español</button>
			</div>
		</main>
	</body>